@model IEnumerable<havhavli.Models.Product>

@{
    ViewBag.Title = "סטטיסטיקה";
}

<h1>סטטיסטיקת אתר</h1>
<br />
<br />
<br />

<div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <div id="ProductContainer" class="graph1"></div>

    <br />
    <br />
    <br />
    <table id="ProductDatatable" class="ProductDatatable">
        <thead>
            <tr>
                <th></th>
                <th>התפלגות מוצרים</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.CurrentTotalProducts as ICollection<Statistic>)
            {
                <tr>
                    <th>@item.Key</th>
                    <th>@item.Values</th>
                </tr>
            }
        </tbody>
    </table>

    <script>
        Highcharts.chart('ProductContainer', {
            data: {
                table: 'ProductDatatable'
            },
            chart: {
                type: 'pie'
            },
            title: {
                text: 'חלוקת מוצרים על פי קטגוריות'
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: false,
                    }
                }
            }
        });
    </script>


    <div id="container" class="graph2"></div>

    <br />
    <br />
    <br />

    <table id="datatable" class="datatable">
        <thead>
            <tr>
                <th></th>
                <th>מצב עגלות נוכחי</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.ClientPurchase as ICollection<Statistic>)
            {
                <tr>
                    <th>@item.Key</th>
                    <th>@item.Values</th>
                </tr>
            }
        </tbody>
    </table>

    <script>
        Highcharts.chart('container', {
            data: {
                table: 'datatable'
            },
            chart: {
                type: 'column'
            },
            title: {
                text: 'המוצר המבוקש ביותר'
            },
            yAxis: {
                allowDecimals: false,
                title: {
                    text: 'כמות המוצרים בעגלות'
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.category.name + '</b><br/>' +
                        this.point.y + ' ' + this.point.name.toLowerCase();
                }
            }
        });
    </script>

</div>
