@model IEnumerable<havhavli.Models.ShoppingCart>

@{
    ViewData["Title"] = "אישור תשלום";
}



<div class="text-black-50">
    <h3 >התשלום התקבל בהצלחה</h3>
    <h1>תודה שקנית אצלנו, מקווים לראותך שוב בקרוב</h1>
    <br />
    <a class="btn btn-dark" href="/Home/index">חזרה לדף הבית</a>
</div>