@model IEnumerable<havhavli.Models.ShoppingCart>

@{
    ViewData["Title"] = "אישור תשלום";
}



<div class="text-black-50">
    <br />
    <h3 class="text-center">התשלום התקבל בהצלחה</h3>
    <br />
    <h1 class="text-center">תודה שקנית אצלנו, מקווים לראותך שוב בקרוב</h1>
    <br />
    <br />

    <a class="btn btn-dark text-center" href="/Home/index">חזרה לדף הבית</a>
</div>