<!DOCTYPE html>
@{
    ViewData["Title"] = "אודות";
}
</div>
<p>חנות הב-הב לי הינה חיות למוצרים עבור בעלי חיים כגון כלבים,חתולים ועוד.........</p>

<p>
    אודות החברה:
    <hr class="featurette-divider">
</p>
<p>
    רשת הב הב לי הינה רשת חנויות לציוד ומזון לבעלי חיים שקמה בעקבות אהבה לחיות ולאנשים. הרשת מונה 3 סניפים בארץ וצפויה להמשיך ולהתרחב.

    ברשת הב הב לי ניתן למצוא מגוון רחב של מוצרים לחתולים, כלבים, מכרסמים, דגים וציפורים:

</p>

<hr class="featurette-divider">

<p>
    חתולים – מזון יבש ומשלים, מזון רפואי, שימורים רפואיים המותאמים לבעיות רפואיות שונות, צעצועים, קולרים, חומרי הדברה, מוצרים להאכלה, מוצרי היגיינה ועוד!

    כלבים – מזון יבש ומשלים, מזון רפואי, שימורים רפואיים המותאמים לבעיות רפואיות שונות, צעצועי לעיסה, צעצועי אילוף, צעצועים לגורים, קולרים וחגורות, רתמות גוף, חומרי הדברה מקצועיים, קערות מזון, פדים לאילוף גורים ועשיית צרכים, גדר אילוף, מיטות ומזרנים, כלובי נשיאה, מוצרי היגיינה, ועוד!

    מכרסמים, ציפורים ודגים – מזון, כלובים, אביזרים נלווים, פילטרים ואף אקווריומים בהזמנה אישית.
</p>

<p>
    רשת הב הב לי חרטה על דגלה שירות מקצועי, אמין ומהיר. כמו כן, אנו מאמינים בחוויית קניית פרונטלית, ובהתאמת המוצר ללקוח. אנו מאמינים שלמרות שלקניות מקוונות יש מקום נכבד בחיינו, גם השירות האישי והאינטראקציה עם לקוחותינו חשובים לא פחות. מתוך אמונה זו אנו מזמינים אתכם, הלקוחות,
    ליצור עמנו קשר בכל אחד מאמצעי התקשורת המפורסמים באתר לקבלת ייעוץ והכוונה בבחירת המוצר המתאים ביותר לחיית המחמד שלכם.
</p>

<hr class="featurette-divider">

<p>

    העובדים שלנו ישמחו לתת לכם שירות מקצועי, אדיב וסבלני.

    אתם מוזמנים לבקר באחד הסניפים שלנו!

    פרטי יצירת קשר, סניפי הב הב לי:

    <a asp-controller="Branches" asp-action="Index">הסניפים שלנו</a>

    <hr class="featurette-divider">
    טלפון ראשי: 1700-542-213
    <html>
    <head>
        <title>loadmapwithoptionsHTML</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <style type='text/css'>
            body {
                margin: 0;
                padding: 0;
                overflow: hidden;
                font-family: 'Segoe UI',Helvetica,Arial,Sans-Serif
            }
        </style>
    </head>
    <body>
        <div id='printoutPanel'></div>

        <div id='myMap' style='width: 30vw; height: 30vh;'></div>
        <script type='text/javascript'>
            function loadMapScenario() {
                var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                    showSearchBar: true,
                    center: new Microsoft.Maps.Location(31.990314, 34.774776),
                    mapTypeId: Microsoft.Maps.MapTypeId.road,
                    zoom: 15
                });
                var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), null);
                map.entities.push(pushpin);

            }
        </script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AmAaHqIQVXR-3jbhbla3oVe1pS6q5tDVMtnCtTNyzD13C9FXAOCRvGVIay3wXXsu&callback=loadMapScenario' async defer></script>
    </body>
</html>

