@{
    ViewData["Title"] = "מפתחי האתר";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
    <haz>
        <br />
        <h1 style="text-align:center">צוות מפתחי האתר</h1>

        <pre></pre>

        <div class="row">
            <div class="card col-3">
                <img src="~/pics/Ariel.jpeg" alt="אריאל" style="width:100%">
                <h1 class="text-center" style="color : olive">אריאל ורביצקי</h1>
                <p class="title text-center">בן 25, אור יהודה</p>
                <p class="text-center">סטונדט שנה ג ,המכללה למנהל ראשון לציון</p>
                <div class="text-center" style="margin: 24px 0;">
                    <a target="_blank" href="https://www.linkedin.com/in/ariel-verbitsky-170a61219/"><i class="fa fa-linkedin"></i></a> |
                    <a target="_blank" href="https://www.facebook.com/ariel.verbitsky"><i class="fa fa-facebook"></i></a> |
                    <a target="_blank" href="https://github.com/arielvr333"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="card col-3">
                <img src="~/pics/Tomer.jpg" alt="תומר" style="width:100%" >
                <h1 class="text-center" style="color : olive">תומר מנצורי</h1>
                <p class="title text-center">בן 25, מבשרת ציון</p>
                <p class="text-center">סטונדט שנה ג,המכללה למנהל ראשון לציון</p>
                <div class="text-center" style="margin: 24px 0;">
                    <a target="_blank" href="https://www.linkedin.com/in/tomer-mantzuri-11a82920a/"><i class="fa fa-linkedin"></i></a> |
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=1571656884"><i class="fa fa-facebook"></i></a> |
                    <a target="_blank" href="https://github.com/TomerMantzuri"><i class="fa fa-github"></i></a>
                </div>

            </div>
            <div class="card col-3">
                <img src="~/pics/Liam.jpeg" alt="ליעם" style="width:100%" >
                <h1 class="text-center" style="color : olive">ליעם גולן</h1>
                <p class="title text-center">בן 25, רמת גן </p>
                <p class="text-center">סטונדט שנה ג,המכללה למנהל ראשון לציון</p>
                <div class="text-center" style="margin: 24px 0;">
                    <a target="_blank" href="https://www.linkedin.com/in/liam-golan-1361b2200/"><i class="fa fa-linkedin"></i></a> |
                    <a target="_blank" href="https://www.facebook.com/Liam1236"><i class="fa fa-facebook"></i></a> |
                    <a target="_blank" href="https://github.com/liam1238"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="card col-3">
                <img src="~/pics/asaf.jpeg" alt="אסף" style="width:100%">
                <h1 class="text-center" style="color : olive">אסף בן ארויה</h1>
                <p class="title text-center">בן 27, חולון</p>
                <p class="text-center">סטונדט שנה ג,המכללה למנהל ראשון לציון</p>
                <div class="text-center" style="margin: 24px 0;">
                    <a target="_blank" href="https://www.linkedin.com/in/asaf-ben-aroya-a2a6021b4/"><i class="fa fa-linkedin"></i></a> |
                    <a target="_blank" href="https://www.facebook.com/asaf.aroya"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </haz>
</body>
</html>