@{
    ViewData["Title"] = "הב-הב לי";
}

<div class="text-center">
    <h1 class="display-4">ברוכים הבאים לחנות הב-הב לי</h1>
    <p>חנות המוצרים לבעלי חיים המובילה בישראל</p>
</div>

<body>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/pics/dog.jpeg" />
                                <div class="carousel-caption d-none d-md-block" onclick="window.location.href = 'https://localhost:44311/Products';">
                                    <button class="sliderUpperMiddle btn" id="sliderBtn" type="button">
                                        <h3>כלבים</h3>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/pics/cat.jpeg" />
                                <div class="carousel-caption d-none d-md-block" onclick="window.location.href = 'https://localhost:44311/Products';">
                                    <button class="sliderUpperMiddle btn" id="sliderBtn" type="button">
                                        <h3>חתולים</h3>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div id="myCarousel" class="carousel slide w-auto" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/pics/fish.jpeg" />
                                <div class="carousel-caption d-none d-md-block" onclick="window.location.href = 'https://localhost:44311/Products';">
                                    <button class="sliderUpperMiddle btn" id="sliderBtn" type="button">
                                        <h3 class="visually-hidden">דגים</h3>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container marketing">
            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider">
            <div class="video-container">
                <h1>חדש בחנות! בונזו בשר המכיל אומגה 3 במיוחד לכלב שלך🐶</h1>
                <video class="main-vid1" width="400" autoplay controls>
                    <source src="~/video/main-video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-12">
                    <h2 class="featurette-heading">רק רגע!</h2>
                    <p class="lead"> השקיעו דקה מזמנכם ולמדו שיעור חשוב על הרגלי תזונה עבור הכלב שלכם</p>
                </div>
                <video class="main-vid2" width="400" autoplay controls>
                    <source src="~/video/It's all about Dogs.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-12">
                    <h2 class="featurette-heading">מזג אוויר <span class="">🌤️</span></h2>
                    <p class="lead">בדוק את המזג אוויר לפני שאתה מוציא את הכלב לטיול, אולי חם מדי והכלב עלול לקבל כווית בכפות הרגלים!</p>
                </div>
            </div>
            <a class="weatherwidget-io" href="https://forecast7.com/he/31d0534d85/israel/" data-label_1="מזג אוויר" data-label_2="ישראל" data-theme="original">מזג אוויר ישראל</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>
            <br />

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
<</body>