@{
    ViewData["Title"] = "אודות";
}
<h1>@ViewData["הב-הב לי"]</h1>

<p>חנות הב-הב לי הינה חיות למוצרים עבור בעלי חיים כגון כלבים,חתולים ועוד.........</p>

<p>
    ........
    ..........
    ..........
</p>

<p>
    ........
    ..........
    ..........
</p>

<p>
    ........
    ..........
    ..........
</p>
